<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prize.prizethemecenter"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ProtectedPermissions"
    android:versionCode="1"
    android:versionName="1.0.test" >
    <uses-sdk tools:ignore="GradleOverrides"/>
    <!-- android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <!-- 推送所需-->
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <!--桌面截图-->
    <uses-permission android:name="com.android.launcher3.permission.PRELOAD_WORKSPACE"/>

    <!--&lt;!&ndash;add for pay crash&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.SEND_SMS"/>-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <!--&lt;!&ndash;end for pay crash&ndash;&gt;-->

    <!--iappay permission start-->
    <!-- 银联3.3.3添加权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- sms pay 短信代扣权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- bank 卡支付 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--iappay permission  end-->

    <application

        android:name="com.prize.prizethemecenter.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.InitLogoActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@style/welcome_Style" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PAGE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FeedbackExActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ClassifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ThemeListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TopicActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TopicDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SingleThemeDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:exported="true"/>

        <activity android:name=".activity.ThemeCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"  />

        <activity android:name=".activity.WallDetailActivity"
            android:screenOrientation="portrait"/>
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <activity android:name=".activity.PreviewActivity"
            android:screenOrientation="portrait" />

            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
        <activity android:name=".activity.FontDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.FontImageDisplayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MineLocalActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MineLocalWallpaperActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MineLocalFontActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MineEditActivity"
            android:screenOrientation="portrait"/>

        <!-- 云账号  start -->
        <activity android:name="com.prize.cloud.activity.MainActivityCloud"
                  android:screenOrientation="portrait"
                  android:exported="true"/>

        <activity android:name="com.prize.cloud.activity.LogonActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>

        <activity android:name="com.prize.cloud.activity.LostPswdActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>

        <activity
            android:name="com.prize.cloud.activity.StartActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name="com.prize.cloud.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name="com.prize.cloud.activity.BindActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>

        <activity android:name="com.prize.cloud.activity.BindedActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>

        <activity android:name="com.prize.cloud.activity.BaseActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>

        <activity android:name="com.prize.cloud.activity.OwnRegActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>
        <activity android:name="com.prize.cloud.activity.PersonActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>
        <activity android:name="com.prize.cloud.activity.RegSuccessActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>
        <activity android:name="com.prize.cloud.activity.SetPswdActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>
        <activity android:name="com.prize.cloud.activity.WebviewActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"/>
        <activity
            android:name="com.prize.cloud.activity.RegActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prize.cloud.activity.CodeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- 云帐号   end -->


        <activity
            android:name=".activity.ThemeDetailImgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.similarityActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.DownLoadHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

	<service android:name=".service.PrizeThemeCenterService"></service>

        <!--推送 start-->
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.prize.prizethemecenter.PUSH_ACTION"/>
            </intent-filter>
        </service>
        <!--<receiver android:name=".receiver.MessageReceiver">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; 接收消息透传 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />-->
                <!--&lt;!&ndash; 监听注册、反注册、设置/删除标签、通知被点击等处理结果 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.FEEDBACK" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <activity
            android:name=".activity.DownLoadQueenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service android:name=".service.DownloadService"/>
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true" >
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.prize.prizethemecenter.PUSH_ACTION" />
            </intent-filter>
        </service>

        <receiver android:name="com.prize.prizethemecenter.receiver.NetStateReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100242061" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="ARF9B2589ZRX" />


        <!--推送 end-->

        <!--&lt;!&ndash; add for pay crash  &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.snowfish.cn.ganga.offline.helper.SFGameSplashActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="sensor"-->
            <!--android:theme="@style/welcome_Style" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<service-->
            <!--android:name="com.snowfish.a.a.s.ABGSvc"-->
            <!--android:enabled="true"-->
            <!--android:process="com.snowfish.a.a.bg">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.snowfish.a.a.s.ABGSvc" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<meta-data-->
            <!--android:name="com.snowfish.appid"-->
            <!--android:value="{0BD9CDCB-ECDDF385}" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="com.snowfish.customer"-->
            <!--android:value="SNOWFISH" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="com.snowfish.channel"-->
            <!--android:value="SNOWFISH" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
            <!--android:name="com.snowfish.sdk.version"-->
            <!--android:value="1" >-->
        <!--</meta-data>-->
        <!--&lt;!&ndash; end for pay crash &ndash;&gt;-->

        <!-- start for mta -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="AS6XXYP716SK" />
        <!-- 请将value改为app发布对应的渠道，不同的发布渠道使用不同的名字 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- end for mta -->

        <!-- font替换为自己应用的appKey -->
        <meta-data
            android:name="FOUNDER_FONT_APP_KEY"
            android:value="f79be623-faac-44ce-bbae-2d3f561186f5" />

       <!--iappay start -->
        <!-- 微支付SDK界面 -->
        <!-- 登录界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.LoginActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 注册界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.RegistActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 注册界面 》设置登录支付密码 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.RegSetPwdActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 显示网页界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountCheckPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.pay.channel.weixinpay.WeixinWapPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name="com.iapppay.ui.activity.AccountModifyPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountSmallAmountPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountSmallAmountValueActivty"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.ServiceCenterActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountBindActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.InputBankCarNoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.InputBankCarMoreInfoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.VerificationCodeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.CommonWebActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 收银台-普通 -->
        <activity
            android:name="com.iapppay.ui.activity.normalpay.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light" />

        <!-- 收银台-爱贝快付 -->
        <activity
            android:name="com.iapppay.ui.activity.minipay.MiniPayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light" />
        <!-- 收银台-爱贝币 -->
        <activity
            android:name="com.iapppay.ui.activity.iapppay.IAppPayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light" />

        <!-- 选择充值金额界面 -->
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.minipay.BankCardActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.normalpay.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 游戏卡和话费卡界面 -->
        <activity
            android:name="com.iapppay.pay.channel.gamepay.GamepayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 支付结果返回 -->
        <activity
            android:name="com.iapppay.pay.channel.unionpay.UpPayResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light" />
        <!-- 银联3.3.3start -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- 银联3.3.3 end -->


        <!-- alipay sdk begin (新的支付宝) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- alipay sdk end -->


        <!-- 财付通wap start -->
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.TenpayWapPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 财付通wap end -->
       <!--iappay end -->
    </application>


</manifest>
