<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prize.prizeappoutad"
    android:versionCode="3"
    android:versionName="PrizeAd-1.1.12.02" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 屏幕解锁 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <!-- baidu push -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" /> -->


    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名 -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.prize.prizeappoutad" />

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.prize.prizeappoutad"
        android:protectionLevel="normal" >
    </permission>

    <!-- android:name="com.prize.prize.MainApplication" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/systemad_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 请将value改为MTA分配的appkey < -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="582da90c04e2051773000b99" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="koobee" />

        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.prize.prizeappoutad.TENCENT.MID.V3"
            android:exported="true" >
        </provider>
        <!-- 请将value改为MTA分配的appkey < -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="A5K8MPK16WTQ" />
        <!-- 请将value改为app发布对应的渠道，不同的发布渠道使用不同的名字 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="koobee" />
        <!-- for baidu lbs key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5nigyRNeNNdqdoOfwwdekGT34wCn9nPc" />
        <!-- for baidu xadsdk key -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="d00232ff" />
        <!-- for baidu xadsdk internal web-browser -->
        <!-- 非信息广告必须添加 -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.prize.prizeappoutad.activity.WebviewActivity"
            android:screenOrientation="portrait" />
        <!-- 开屏广告 -->
        <activity
            android:name="com.prize.prizeappoutad.activity.RSplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PrizeTheme" >

            <!-- android:theme="@style/PrizeTheme" -->
            <!-- android:theme="@android:style/Theme.NoTitleBar" -->
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="com.prize.prizeappoutad.activity.MainActivity" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:label="@string/app_name" > -->
        <!-- </activity> -->
        <!-- 主服务 -->
        <!-- android:process=":appoutad" -->
        <service
            android:name="com.prize.prizeappoutad.service.ThirdAdService"
            android:process=":adservice" >
            <intent-filter>
                <action android:name="action.prize.alarm" />
            </intent-filter>
        </service>
        <!-- 百度lbs -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- 启动主服务的广播 -->
        <receiver
            android:name="com.prize.prizeappoutad.receiver.ServiceReceiver"
            android:exported="true"
            android:process=":adreceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="action.prize.app.lauch" />
            </intent-filter>
        </receiver>
        <!-- 监听网络变化的广播 -->
        <receiver android:name="com.prize.prizeappoutad.receiver.NetStateReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- ******************* baidu push SDK start******************** -->
        <!-- baidu push应用定义消息receiver声明 -->
        <receiver android:name="com.prize.prizeappoutad.receiver.BDPushReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名 -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.prize.prizeappoutad.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.prize.prizeappoutad" />
        <!-- push结束 -->
        <!-- ******************* baidu push SDK end******************** -->
    </application>

</manifest>